.search-background {
	display: none;
	font-size: 13px;
	font-weight: bold;
	height:160px;
	position: absolute;
	padding-top:100px;
	padding-left:270px;
	text-align: center;
	opacity:0.5;filter: alpha(opacity=50) ;
	text-decoration: none;
	width: 520px;
	color:#FFFFFF;
	text-shadow: #fff 0px 0px 20px;
	}
	
search-background label{	

	border:solid #66FF00 1px;
}	

#amipaging_button ul{ width: auto; padding:0px; }

#amipaging_button ul li { 

    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    float: left;
	font-family: helvetica,arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0 1px 10px 0;
	padding-left:15px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:15px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
	list-style-type:none; 
    cursor:pointer;
	}
	
#amipaging_button ul li:hover{background:#006699;}
li:hover{ color: #CC0000; cursor: pointer; }

.amiBack{border:1px solid #0075EA; padding:4px 8px; border-radius:50%; background:#fff; color:#0075EA; transition:all 0.5s;}
.amiBack:hover{background:#0075EA; color:#fff; transition:all 0.5s;}

.amiBtmBrd{border-bottom:1px solid #CCCCCC; font-size:16px; font-weight:600; padding:5px;}
.amiBrd{border:2px solid #F2F2F2; margin-top:10px; background:#F9F9F9;}




.masthead {
	background-color: #E8E8E8;
}
.mastfoot {
	background-color: #F7F7F7;
}
.hedrbtm {
	background: #5D5D5D;
	padding-bottom: 8px;
	padding-top: 8px;
	color: #FFF;
	border-bottom: 5px solid #DADADA;
}
.hedrbtm a {
	color: #FFF;
}
.redb {
	color: #F00;
}
#textEffect {
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.amiBtn{border:1px solid #0f75cf; padding:4px 7px; color:#0f75cf; transition:all 0.5s;}
.amiBtn:hover{background:#0f75cf; color:#fff; text-decoration:none; transition:all 0.5s;}
.amiBtn1{border:1px solid #EA0000; padding:4px 7px; color:#EA0000; transition:all 0.5s;}
.amiBtn1:hover{background:#EA0000; color:#fff; text-decoration:none; transition:all 0.5s;}
.amiBtn2{border:1px solid #468C00; padding:4px 7px; color:#468C00; transition:all 0.5s;}
.amiBtn2:hover{background:#468C00; color:#fff; text-decoration:none; transition:all 0.5s;}
.amiBtn4{border:1px solid #EA0000; padding:0px 5px; color:#EA0000; font-weight:600; transition:all 0.5s; float:right;}
.amiBtn4:hover{background:#EA0000; color:#fff; text-decoration:none; cursor:pointer; transition:all 0.5s;}

.amiBtn5{border:1px solid #468C00; padding:0px 5px; color:#468C00; font-weight:600; transition:all 0.5s; float:right;}
.amiBtn5:hover{background:#468C00; color:#fff; text-decoration:none; cursor:pointer; transition:all 0.5s;}
.amiBtn6{border:1px solid #A6A6A6; background:#fff; font-size:10px; padding:1px 2px 3px 3px; color:#000; font-weight:600; transition:all 0.5s;}
.amiBtn6:hover{border:1px solid #00FFFF; background:#005B5B; color:#00FFFF; text-decoration:none; cursor:pointer; transition:all 0.5s;}
.amiBtn11{border:1px solid #97FF2F; background:#3F7D00; padding:4px 7px; color:#fff; transition:all 0.5s;}
.amiBtn11:hover{background:#fff; color:#3F7D00; text-decoration:none; transition:all 0.5s;}
.amiBtn12{border:1px solid #FF79FF; background:#660066; padding:4px 7px; color:#fff; transition:all 0.5s;}
.amiBtn12:hover{background:#fff; color:#660066; text-decoration:none; transition:all 0.5s;}
.amiBtn22{border:1px solid #0f75cf; padding:2px 23px; width:200px; color:#0f75cf; transition:all 0.5s;}
.amiBtn22:hover{background:#0f75cf; color:#fff; text-decoration:none; transition:all 0.5s;}
.flRight{float:right; font-size:17px; padding-top:25px;}
.amipD{padding:10px;}
.amiStf{border:1px solid #eee; padding:10px; transition:all 0.7s;}
.amiStf:hover{border:1px solid #B0CAFF; background:#2d6ca3; color:white; transition:all 0.7s;}
.amifLeft{margin-top:25px; float:left;}
.amifRight{margin-top:25px; float:right;}
.mrAmiTp{margin-top:35px;}
@media only screen and (max-width : 768px) {
.flRight{float:none; font-size:17px; padding-top:0px; text-align:center; margin-bottom:5px;}
.amipD{padding:0; margin-top:5px;;}	
.amifLeft{margin-top:25px; float:none;}
.amifRight{margin-top:25px; float:none;}
}